__pycache__/
__pycache__/*
*.csv
*.COF
SarcnetMiniSatelliteTrackerMK1_venv
Core\SarcnetMiniSatelliteTrackerMK1\SourceCode\Code_Authers\Custom_ProjectSourceCode\Nathan-Busse\Rotator\VersionControl\v1\Rotator_v1\src\Tools\MagneticDeclinationCalculator\geonames.db
*.db
geonames.db
*.geojson
geojson/


# Ignore pycache and other Python artifacts.
pycache/

__pycache__/

_pycache__ 

*/__pycache__/*
__pycache__/*


*.pyc
*.cpython-*.pyc
*.cpython-312.pyc 
*.cpython-311.pyc
*.cpython-310.pyc
*.reverse_geocode.cpython-312.pyc
reverse_geocode.cpython-312.pyc
*.cpython 
*.pyc
*.cython-312 

Core/SarcnetMiniSatelliteTrackerMK1/SourceCode/Code_Authers/Custom_ProjectSourceCode/Nathan-Busse/CustomLibraries/GeoDudeLibrary/geodude/__pycache__/reverse_geocode.cpython-312.pyc
