SarcnetMiniSatelliteTrackerMK1_venv
Core\SarcnetMiniSatelliteTrackerMK1\SourceCode\Code_Authers\Custom_ProjectSourceCode\Nathan-Busse\Rotator\VersionControl\v1\Rotator_v1\src\Tools\MagneticDeclinationCalculator\geonames.db
*.db
geonames.db